
:host {
  width: 100%;
}

.mat-dialog-content {
  min-height: 135px;
  display: flex;
  justify-content: center;
}

.mat-card-header {
  justify-content: center;
}

.mat-card-actions {
  justify-content: center;
}
