<div fxLayout="column" fxLayoutAlign="space-between center" class="store-container" fxLayoutGap="30px">

  <app-header></app-header>

  <div fxLayout="column" fxLayoutAlign="space-around center" fxLayoutGap="20px" class="store-front">

    <app-loading-wallet-dialog [walletStatus]="walletStatus"></app-loading-wallet-dialog>

    <app-my-account></app-my-account>

    <app-cookie-transaction></app-cookie-transaction>

    <app-global-statistics></app-global-statistics>

    <app-random-cookie-message></app-random-cookie-message>

  </div>

  <app-footer></app-footer>

</div>


