
:host {
  display: flex;
  min-height: 100vh;
  //background-image: url('src/assets/img/CookieBG2.png');
  background-color: #efebe9;
  //background-size: 200px;
}

.store-container {
  width: 100%;
}

.store-front {
  max-width: 800px;
}
