
:host {
  width: 100%;
}

.mat-card-header {
  justify-content: center;
}

.mat-card-content {
  display: flex;
}

.account-container {
  padding-top: 20px;
}

.cookie-coin-logo {
  width: 50px;
  height: auto;
}

.account-label {
  font-size: 18px;
  width: 160px;
}

.status-label {
  font-size: 18px;
}

.address-field {
  width: 320px;
}

.cookie-balance {
  width: 100%;
}
