<div fxFlex="row" fxLayoutAlign="center center" class="footer-container" fxLayoutGap="40px">
  <a routerLink="privacy" target="_blank">Privacy Policy</a>
  <a href="assets/whitepaper.pdf" target="_blank">White Paper</a>
  <a href="https://github.com/cookie-coin" target="_blank"><img src="assets/img/GitHub-Mark-Light-120px-plus.png"
                                                                class="social-image"></a>
  <a href="https://twitter.com/coin_cookie" target="_blank"><img src="assets/img/Twitter_Social_Icon_Circle_White.png"
                                                                 class="social-image"></a>
</div>
